fastqueue = 'common,dedicated'
fastqos= '--qos=fast'

normalqueue = 'bioevo'
normalqos = '--qos=dedicated'

longqueue = 'bioevo'
longqos = '--qos=dedicated'

bigmemqueue = 'common'




executor {
    name = 'slurm'
    queueSize = 2000
}

report {
       enabled = true
       file = 'reports/report.html'
}

trace {
    enabled = true
    file = 'reports/trace.txt'
}

timeline {
    enabled = true
    file = 'reports/timeline.html'
}

dag {
    enabled = true
    file = 'reports/dag.dot'
}

singularity {
        enabled = true
        autoMounts = true
        runOptions = '--home $HOME:/home/$USER --bind /pasteur'
	cacheDir = 'singularity'
}

// provide the default configuration for the processes in your pipeline
process {
    //executor='local'
    executor='slurm'
    queue = "$fastqueue"
    clusterOptions = "$fastqos $addoptions"
    scratch=false
    maxRetries=30
    errorStrategy='retry'

    withName: generateIGVSession {
        errorStrategy='ignore'
    }

    withLabel: trimgalore {
    	container='evolbioinfo/trimgalore:v0.6.6'
	cpus=10
        memory='10G'
    }

    withLabel: bedtools {
    	container='evolbioinfo/bedtools:v2.29.2'
	cpus=1
        memory='3G'
    }

    withLabel: samtools {
        container='evolbioinfo/samtools:v1.11'
        cpus=1
        memory='1G'
    }

    withLabel: coverage {
        container='evolbioinfo/samtools:v1.11'
        cpus=1
        memory='5G'
    }

    withLabel: gatk {
        //scratch=true
        container='broadinstitute/gatk:4.1.9.0'
        memory='60G'
	//queue="$normalqueue"
	//clusterOptions="$normalqos $addoptions"
        queue = {task.attempt>1 ? "$normalqueue" : "$fastqueue" }
        clusterOptions = {task.attempt > 1 ? "$normalqos $addoptions" : "$fastqos $addoptions" }
    }

    withLabel: bwa {
        container="evolbioinfo/bwa:v0.7.17"
	    cpus=20
        memory='30G'
    }

    withLabel: bcftools {
        container="evolbioinfo/bcftools:f27f849"
        cpus=1
        memory='10G'
    }

    withLabel: fastqc {
        container='evolbioinfo/fastqc:v0.11.8'
        cpus=1
    }

    withLabel: multiqc {
        container='ewels/multiqc:1.10.1'
	errorStrategy='ignore'
        cpus=1
    }
}